<launch>

    {% for node in nodes %}
    <!-- launching {{ node.name }} ({{ node.id }}) -->
    <node pkg="{{ node.id }}" name="{{ node.id }}" type="node" output="screen">
        {% for port in node.inputs %}
        {% if existsIn(port, "topic") %}
        {% if not (port.short == port.topic) %}
        <remap from="{{ port.short }}" to="{{ port.topic }}"/>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% for port in node.outputs %}
        {% if existsIn(port, "topic") %}
        {% if not (port.short == port.topic) %}
        <remap from="{{ port.short }}" to="{{ port.topic }}"/>
        {% endif %}
        {% endif %}
        {% endfor %}
    </node>

    {% endfor %}

</launch>
